body{
	background-color: #57B8FF;
}
#header-nav{
	border-radius: 0;
	background-color: #EDC9FF;
}
.navbar-brand{
	height: 15%;
}
.navbar-nav{
	background-color: #CB4855;
	text-align: center;
}
li{
	background-color: #FE6847;
	margin-bottom: 5px;
}
li:hover{ 
	background-color: #CB48B7;
}
h1{
	margin-top: 0;
	margin-bottom: 5px;
}
.menu{
	text-align: center;
}
.main-body{
	color: lightgreen;
}
.sub-heading{
	text-align: center;
}
.description{
	text-align: justify;
}
#no-1{
	background-color: #62466B;
	margin-bottom: 10px;
	width: 90%;
}
#no-2{
	background-color: #8D6A9F;
	margin-bottom: 10px;
}
#no-3{
	background-color: #FE6847;	    	;
	margin-bottom: 10px;
}
*{
	color: #ffff;
	font-family: Comic Sans MS;
}